/* The html style removes the pre-set margin, and stretches the page to all available space */
html {
  min-height: 100%;
  margin: 0;
}

/* Basic stuff like font and color */
body {
  height: 100vh;
  margin: 0;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-family: Arial, sans-serif;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Containers */
.content-wrapper {
  display: grid;
  height: 90vh;
  width: 85vw;

  grid-template-rows: 50px auto;
  grid-template-columns: 300px auto;

  grid-template-areas:
  "topLabel topLabel"
  "sidebar mainContainer"
}

.flex {
  display: flex;
  flex-direction: column;
}

#mainContainer {
  grid-area: mainContainer;
}

#sideBar {
  grid-area: sidebar;

  display: flex;
  flex-direction: column;
}

/* Elements */
#topLabel {
  grid-area: topLabel;
}

/* #mainContainer {

} */
